@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300 !important;
  text-shadow: 2px 2px 5px black;
}

body h1 {
  font-weight: 300;
  margin: 0px;
}

#site-title {
  font-family: "Press Start 2P", sans-serif;
  padding: 10px;
}

#main-header {
  border-bottom: 2px solid #000;
  background-color: darkblue;
  color: white;
}

#top-stories {
  width: 1030px;
  margin: auto;
  margin-top: 20px;
}

article {
  max-width: 300px;
  display: inline-table;
  height: 340px;
  padding: 10px;
  margin: 10px;
  box-shadow: none;
}

article:hover {
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.6);
}

.article-img {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.more-link {
  font-style: italic;
}

a {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-style: dotted;
}

footer {
  background-color: black;
  color: white;
}

footer a {
  color: aqua;
}

p {
  letter-spacing: 1px;
  word-spacing: 2px;
  text-indent: 20px;
  text-align: center;
}
