<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" type="image/png" href="/images/weather.png"/>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img class="weather"
      src="https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1344&q=80"
    />
    </div>
    {{>footer}}
  </body>
</html>