body {
  background-color: #000;
  color: #ff9a00;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#nav {
  width: fit-content;
  margin: 0 auto;
}

#nav ul {
  padding-inline-start: 0;
}

#nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  padding: 10px;
}

#nav ul li a {
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #ff9a00;
}

.three-circles {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.circle {
  width: 33%;
  height: 0;
  padding-bottom: 31%;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #f75f1c;
  text-align: center;
}

.circle h1 {
  text-transform: uppercase;
  color: #000;
  margin: 45% auto;
  font-size: 3em;
}

#main {
    padding-top: 100px;
}

.section {
  width: 100%;
  padding: 50px 10px;
  margin: 0;
}

.section h2 {
    text-transform: uppercase;
    letter-spacing: -2px;
    text-align: center;
    font-size: 3.5em;
}

.section p {
  width: 80%;
  margin: 10px auto;
  font-size: 20px;
}

#section-1 {
  background-color: #881ee4;
}

#section-2 {
  background-color: #000;
}

#section-3 {
  background-color: #85e21f;
}

#section-4 {
    background-color: #000;
}

#section-5 {
    background-color: #881ee4;
  }

  .green {
      color: #85e21f;
  }

  .purple {
    color: #881ee4;
  }

  .black {
      color: #000;
  }
