body {
    background-color: #b3610b;
    color: #000;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
  }
  
  h1,
  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #ddd;
    text-align: center;
  }
  
  h2 {
    color: #05072b;
    text-align: left;
  }
  
  #header {
    width: 100%;
    margin: 50px auto;
  }
  
  #logo h1 {
    line-height: 150px;
    width: 100%;
    font-size: 6em;
    letter-spacing: 7px;
  }

  span {
    color: blue;
  }
  
 .section-content {
    width: 90%;
    margin: 100px auto;
    background-color: #eaeaea;
    padding: 40px;
  }

  #columns {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  
  .column {
    width: 30%;
    margin: 0 10px;
  }

  i {
    margin-left: 250px;
  }
  
  p {
    text-align: justify;
  }
  